@import '_normalize';
$featureColor: #0090BB;
$bgColor1: #FDFDFD;
$bgColor2: #F7F6F3;
$textColor: #777873;
$lineAccentColor: #F7F6F3;
$inputTextColor: #919191;
* {
    box-sizing: border-box

}
html, body {
    height: 100%;
    width: 100%;
    color: $textColor;
    background-image: linear-gradient(-180deg, $bgColor1 0%, $bgColor2 100%);
    overflow: hidden;
}

.github-corner {
    fill: $featureColor !important;
}
    
.app {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}


header {
    padding: 10px 25px 20px;
    border-bottom: 1px solid $lineAccentColor;
    color: $featureColor;
}


nav {
    display: flex;
    
    ul {
        width: 100%;
    }
}

button {
    cursor: pointer;
    background: none;
    border: none;
    transition: all 200ms ease;
    &:focus {
        outline: none;
    }
    &:hover {
        transform: scale(1.1)

    }
}
.main {
    flex-grow: 1;
    display: flex;
    //flex-direction: column;
    align-items: stretch;
}

.input {
    flex-grow: 1;
    position:relative;
    display:flex;
    min-height: 100%;
    // flex-direction: column;
    // align-items: stretch;
    padding-top: 25px;
    min-width: 250px;
    textarea {
        background: none;
        border: none;
        margin: 40px 0 0;
        flex-grow: 1;
        padding-top: 15px;
        // height: 100%;
        font-family: Courier New, Courier, monospace;
        color: $inputTextColor;
        line-height: 1.5;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: 0px 4px 43px 9px rgba(228, 228, 228, 0.75);
            transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
            transition-delay: 200ms;
        }
    }
}
@media all and (min-width: 768px){
    .input {
        flex-grow: 0;
        min-width: 600px;
        textarea {
            margin-top: 20px;
            resize:horizontal;
        }
    }

    .nav__button {
        display: inline-block;
        padding: 10px 15px;
        margin: 10px;
    }

   .main {
        flex-direction: row;
    }

    .input textarea {
        padding: 20px 25px;
    }

   

}
.output {
    position:relative;
    word-wrap: break-word;
    display:flex;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
code {
    white-space: normal;
}
    img {
        max-width: 100%;
    }
}


footer {
    width:100%;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: flex-end;
}

.view__buttons {
    border-bottom: 1px solid $lineAccentColor;
    //flex-grow: 1;
    margin-left: 10px;
    padding: 10px 0;
    button {
        padding: 5px;
        // margin: 0 5px;
        color: $textColor;
        svg {
            pointer-events: none;
        }
    } 
}

@media screen and (min-width:768px){
    .view__buttons {
        button {
            padding:10px;
        } 
    }
}


.fileContainer {
    input {
      display: none;
    }
}
.nav__button {
    list-style: none;
    display: inline-block;
    border: none;
    span {
        font-size: 0;
    }
}

.view__buttons {
    flex-shrink: 0;
    width:100%;
    position: absolute;
    padding-right: 20px;
    top: 0;
    // height: 20px;
    display: flex;
}


.input .view__buttons {
    justify-content: space-between;
    
}

.output .view__buttons {
    justify-content: flex-end;
    
}
.output__src {
    margin-top:40px;
    max-height: 100%;
    overflow: auto;
    div {
    max-width: 75ch;
        margin: 0 auto;
        line-height: 1.6;
    }   
}

.logo {
    margin: 0;
    font-size: 2em;
}

.tagline {
    margin: 0;
    margin-left: 20px;
    font-size: .5em;
}

nav ul {
    margin: 0;
    padding: 5px 0;
}