@import '_normalize';

* {box-sizing: border-box}
html, body {
    height: 100%;
    width: 100%;}

.app {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav {
    text-align: center;
    display: flex;
    
    ul {
        width: 100%;
    }
}

.main {
    /* align-items: stretch; */
    /* flex-direction: column; */
    /* height: 100%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}



.input {
    position:relative;
    display:flex;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    textarea {
        flex-grow: 1;
        border: 1px solid #ededed;
        padding: 15px;
        height: 100%;
        font-family: Courier New, Courier, monospace;
        color: #6e6e6e;
        line-height: 1.5;
        resize: vertical;
        &:focus {
            outline: none;
            box-shadow: 0px 1px 2px 2px rgba(228, 228, 228, 0.8); 
            transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
            transition-delay: 200ms;
        }
    }
}

.output {
    // // flex-grow:1;
    // overflow-x: hidden;
    // overflow-y: scroll;
    overflow: auto;
    // padding: 15px;
    // min-height:100%;
    position:relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display:flex;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
code {
    white-space: normal;
}
    img {
        max-width: 100%;
    }


}

footer {
    background-color: #ededed;
    width:100%;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: flex-end;
}

@media all and (min-width: 768px){

    .nav__button {
        display: inline-block;
        padding: 10px 15px;
        margin: 10px;
    }

   .main {
        flex-direction: row;
    }

    .input textarea {
        padding: 20px 25px;
    }

    .input {
        flex: 1 1 40%;
        textarea {
            resize:horizontal;
        }
    }
    .output {
        flex: 1 1 60%;
        padding: 0 50px;
    }
    
    
}

.fileContainer {
    input {
      display: none;
    }
}
.nav__button {
    list-style: none;
    display: inline-block;
    border: none;
    span {
        font-size: 0;
    }
}

.view__buttons {
    flex-shrink: 0;
    width:100%;
    position: absolute;
    background: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
}